In [1]:
import numpy as np
import pandas as pd

In [2]:
movies= pd.read_csv('movies.csv')
credits=pd.read_csv('credits.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10-12-2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",19-05-2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",26-10-2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",16-07-2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",07-03-2012,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
movies.rename(columns = {'id':'movie_id'}, inplace = True)

In [6]:
movies=pd.merge(movies, credits, on='movie_id')

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   movie_id              4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  title_y               4803 non-null   object
 21  cast                  4803 non-null   object
 22  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(16)
memory usage: 900.6+ KB

In [8]:
movies.shape

(4803, 23)

In [9]:
#to merge 2 data sets use seta=seta.merge(setb,on='id')

#importent things
# show_id,title,cast,listed_in,description
movies=movies[['genres','movie_id','cast','title_x','overview']]

In [10]:
movies.head()

,genres,movie_id,cast,title_x,overview
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...",Spectre,A cryptic message from Bondâ€™s past sends him...
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...",The Dark Knight Rises,Following the death of District Attorney Harve...
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...",John Carter,"John Carter is a war-weary, former military ca..."

In [11]:
movies.isnull().sum()  #to find the null data

genres      0
movie_id    0
cast        0
title_x     0
overview    3
dtype: int64

In [12]:
movies.dropna(inplace=True) #to delete null rows

In [13]:
movies.duplicated().sum() #to find duplicate data

0

In [14]:
def get_cast(movie_cast):
    mod=movie_cast.strip('][{}').split(', ')
    new_mod=[]
    i=5
    while i < len(mod):
        mod[i]=mod[i][9:-1]
        mod[i]=mod[i].replace(" ",'')
        new_mod.append(mod[i])
        i+=7
    return new_mod

In [15]:
movies['cast']=movies['cast'].apply(lambda x:get_cast(x))
movies['cast']

0       [SamWorthington, ZoeSaldana, SigourneyWeaver, ...
1       [JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...
2       [DanielCraig, ChristophWaltz, L\u00e9aSeydoux,...
3       [ChristianBale, MichaelCaine, GaryOldman, Anne...
4       [TaylorKitsch, LynnCollins, SamanthaMorton, Wi...
                              ...
4798    [CarlosGallardo, JaimedeHoyos, PeterMarquardt,...
4799    [EdwardBurns, KerryBish\u00e9, MarshaDietlein,...
4800    [EricMabius, KristinBooth, CrystalLowe, GeoffG...
4801    [DanielHenney, ElizaCoupe, BillPaxton, AlanRuc...
4802    [DrewBarrymore, BrianHerzlinger, CoreyFeldman,...
Name: cast, Length: 4800, dtype: object

In [16]:
def get_genre(movie_genre):
    mod=movie_genre.strip('][{}').split(', ')
    new_mod=[]
    i=1
    while i < len(mod):
        mod[i]=mod[i][9:-1]
        new_mod.append(mod[i])
        i+=2
    return new_mod

In [17]:
movies['genres']=movies['genres'].apply(lambda x:get_genre(x))
movies['genres']

0       [Action", Adventure", Fantasy", Science Fiction]
1                         [Adventure", Fantasy", Action]
2                           [Action", Adventure", Crime]
3                    [Action", Crime", Drama", Thriller]
4                 [Action", Adventure", Science Fiction]
                              ...
4798                         [Action", Crime", Thriller]
4799                                  [Comedy", Romance]
4800               [Comedy", Drama", Romance", TV Movie]
4801                                                  []
4802                                       [Documentary]
Name: genres, Length: 4800, dtype: object

In [18]:
def get_overview(x):
    x=x.replace(',','')
    new=x.split()
    return new

In [19]:
movies['overview']=movies['overview'].apply(lambda x:get_overview(x))

In [20]:
movies.head()

,genres,movie_id,cast,title_x,overview
0,"[Action"", Adventure"", Fantasy"", Science Fiction]",19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",Avatar,"[In, the, 22nd, century, a, paraplegic, Marine..."
1,"[Adventure"", Fantasy"", Action]",285,"[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",Pirates of the Caribbean: At World's End,"[Captain, Barbossa, long, believed, to, be, de..."
2,"[Action"", Adventure"", Crime]",206647,"[DanielCraig, ChristophWaltz, L\u00e9aSeydoux,...",Spectre,"[A, cryptic, message, from, Bondâ€™s, past, se..."
3,"[Action"", Crime"", Drama"", Thriller]",49026,"[ChristianBale, MichaelCaine, GaryOldman, Anne...",The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,"[Action"", Adventure"", Science Fiction]",49529,"[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",John Carter,"[John, Carter, is, a, war-weary, former, milit..."

In [21]:
def toString(s):
    return (' '.join(s))

movies['cast']=movies['cast'].apply(toString)
movies['genres']=movies['genres'].apply(toString)
movies['overview']=movies['overview'].apply(toString)

In [22]:
movies['tags']= movies['cast']+ movies['genres']+ movies['overview']
new_df=movies[['movie_id','title_x','tags']]
new_df['tags']=new_df['tags'].apply(lambda x:x.lower())
new_df['title_x']=new_df['title_x'].apply(lambda x:x.lower())

new_df.head()

C:\Users\91893\AppData\Local\Temp\ipykernel_29452\338248285.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(lambda x:x.lower())
C:\Users\91893\AppData\Local\Temp\ipykernel_29452\338248285.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['title_x']=new_df['title_x'].apply(lambda x:x.lower())

,movie_id,title_x,tags
0,19995,avatar,samworthington zoesaldana sigourneyweaver step...
1,285,pirates of the caribbean: at world's end,johnnydepp orlandobloom keiraknightley stellan...
2,206647,spectre,danielcraig christophwaltz l\u00e9aseydoux ral...
3,49026,the dark knight rises,christianbale michaelcaine garyoldman annehath...
4,49529,john carter,taylorkitsch lynncollins samanthamorton willem...

In [23]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\91893\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: joblib in c:\users\91893\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: tqdm in c:\users\91893\anaconda3\lib\site-packages (from nltk) (4.64.0)
Requirement already satisfied: click in c:\users\91893\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in c:\users\91893\anaconda3\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: colorama in c:\users\91893\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [24]:
import nltk

In [25]:
from nltk.stem.porter  import PorterStemmer
ps = PorterStemmer()

def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

new_df['tags']=new_df['tags'].apply(stem)

C:\Users\91893\AppData\Local\Temp\ipykernel_29452\2539959527.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [26]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [27]:
vectors=cv.fit_transform(new_df['tags']).toarray()

#cv.get_feature_names()

In [28]:
 from sklearn.metrics.pairwise  import cosine_similarity

In [29]:
similarity=cosine_similarity(vectors)

In [30]:
import pickle

In [31]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [32]:
with open('similarity.pkl', 'rb') as f:
    similarity = pickle.load(f)

In [33]:
sorted(list(enumerate(similarity[4])),reverse=True,key=lambda x:x[1])[1:6]

[(3088, 0.2948185205998629),
 (1813, 0.26803051088856295),
 (4721, 0.26637086328481074),
 (1254, 0.25994801559480185),
 (4442, 0.259888849094526)]

In [34]:
movie_index=new_df[new_df['title_x']=='titanic']['movie_id']
#distances = similarity[movie_index]
movies_list=sorted(list(enumerate(similarity[movie_index.index[0]])),reverse=True,key=lambda x:x[1])[1:6]
for i in movies_list:
    print(new_df.iloc[i[0]]['title_x'])

the switch
under the same moon
opal dream
nowhere boy
the four feathers

In [35]:
def recommend(movie):
    movie_index=new_df[new_df['title_x']==movie]['movie_id']
    movies_list=sorted(list(enumerate(similarity[movie_index.index[0]])),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]]['title_x'])

In [36]:
recommend('titanic')

the switch
under the same moon
opal dream
nowhere boy
the four feathers

In [37]:
pickle.dump(new_df.to_dict(),open('movies_dict.pkl','wb'))

In [38]:
new_df.to_csv('main_data.csv',index=False)

In [39]:
movies= pd.read_csv('main_data.csv')

In [40]:
movies.head()

,movie_id,title_x,tags
0,19995,avatar,samworthington zoesaldana sigourneyweav stephe...
1,285,pirates of the caribbean: at world's end,johnnydepp orlandobloom keiraknightley stellan...
2,206647,spectre,danielcraig christophwaltz l\u00e9aseydoux ral...
3,49026,the dark knight rises,christianbal michaelcain garyoldman annehathaw...
4,49529,john carter,taylorkitsch lynncollin samanthamorton willemd...

In [41]:
if 'rustom' not in new_df['title_x'].unique():
    print("sorry")

sorry

In [42]:
recommend('spectre')

skyfall
quantum of solace
safe haven
something wicked
never say never again